argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
bottle==0.12.19
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.7
cmake==3.21.3
colorama==0.4.4
conan==1.41.0
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.24
dill==0.3.4
distro==1.6.0
dlx==1.0.4
docplex==2.22.213
entrypoints==0.3
fastdtw==0.3.4
fasteners==0.16.3
fastjsonschema==2.15.1
h5py==3.2.1
idna==3.3
inflection==0.5.1
Jinja2==2.11.3
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.2.0
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.3.2
mistune==0.8.4
more-itertools==8.10.0
mpmath==1.1.0
multitasking==0.0.9
node-semver==0.6.1
nose==1.3.7
ntlm-auth==1.5.0
numpy==1.19.2
packaging==21.0
pandas==1.1.3
patch-ng==1.17.4
pbr==5.6.0
Pillow==7.2.0
pluginbase==1.0.1
ply==3.11
psutil==5.8.0
pybind11==2.8.0
pycparser==2.20
Pygments==2.10.0
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-constraint==1.4.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
qiskit==0.31.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.17.0
qiskit-ignis==0.6.0
# Editable install with no version control (qiskit-terra==0.18.3)
-e /Users/cho/opt/anaconda3/envs/qc/lib/python3.8/site-packages
qtconsole==4.7.7
QtPy==1.9.0
Quandl==3.6.1
requests==2.26.0
requests-ntlm==1.1.0
retworkx==0.10.2
scikit-build==0.12.0
scikit-learn==1.0
scipy==1.5.2
Send2Trash==1.5.0
six==1.16.0
stevedore==3.5.0
symengine==0.8.1
sympy==1.6.2
threadpoolctl==3.0.0
tqdm==4.62.3
tweedledum==1.1.1
urllib3==1.26.7
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
yfinance==0.1.64
