argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
bottle==0.12.19
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.7
cmake==3.21.3
colorama==0.4.4
conan==1.41.0
cycler==0.10.0
Cython==0.29.24
dill==0.3.4
distro==1.6.0
entrypoints==0.3
fasteners==0.16.3
idna==3.3
Jinja2==2.11.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.2.0
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
MarkupSafe==2.0.1
matplotlib==3.3.2
mistune==0.8.4
mpmath==1.1.0
node-semver==0.6.1
nose==1.3.7
numpy==1.19.2
packaging==21.0
pandas==1.1.3
patch-ng==1.17.4
pbr==5.6.0
Pillow==7.2.0
pluginbase==1.0.1
ply==3.11
psutil==5.8.0
pybind11==2.8.0
pycparser==2.20
Pygments==2.10.0
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-constraint==1.4.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
qtconsole==4.7.7
QtPy==1.9.0
requests==2.26.0
retworkx==0.10.2
scikit-build==0.12.0
scipy==1.5.2
Send2Trash==1.5.0
six==1.16.0
stevedore==3.5.0
symengine==0.8.1
sympy==1.6.2
tqdm==4.62.3
tweedledum==1.1.1
urllib3==1.26.7
webencodings==0.5.1
widgetsnbextension==3.5.1
